body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
   
}

.sidebar:hover {
    background-color: #cdcdcd;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}


#pesquisa {
    width: 500px; /* Largura da barra de pesquisa */
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 50px;
    margin: 0px auto; /* Centraliza horizontalmente e ajusta margem superior */
    display: block; /* Define o elemento como bloco para centralização vertical */
    margin-top: 0px;
}

.bar {
    background-color: #000000;
    padding:10px;
    margin-top: -25px;
    border-top: solid 0px #000000f2;
    border-bottom: solid 1px #cdcdcd;
    
}

.logo {
    background-color: #000000;
    padding-top: 20px;   
    padding-left: 20px; 
}

.menu a {
    
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: #000000;
    font-style: Arial;
    border-radius: 20px; /* Borda arredondada */
    
    transition: background-color 0.05s; /* Efeito de transição suave para a coloração do mouse */
  }
      
.menu a:hover {
    background-color: #c8c8c88b; /* Coloração ao passar o mouse */
    border-left: solid 5px #cdcdcd;
}

.menu {
    border-right: solid 1px #cdcdcd;
}

#topicos {
    padding-left: 15px;
}


 


footer {
    background-color: #000000;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    min-height: 10px;
    border-top: solid 5px  #cdcdcd; 
   
  }
  
footer p {
    margin: 10px 0;
  }

  .image {
    margin-left: 0px;
    padding: 5px;
    background: #d8d8d8;
    font-size: 13px;
    border-radius: 3px;
    line-height: 1.5;
    display: inline-block;
    position: relative; /* Necessário para ajustar o fundo */
    max-width: 50%; /* Largura máxima do contêiner */
  }
  
  .image img {
    width: 100%; /* A imagem ocupa 100% da largura do contêiner */
    height: auto;
    display: block;
  }
  
 
  



 







